body{
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}
#Cap{
    width:auto;
    font-size: 25px;
    color: #993738;
    margin-bottom: 20px;
}
table,tr,td{
    width: auto;
    border:2px solid #993738;
    border-collapse: collapse;
    padding:0px 10px;
}
#Title{
    font-size: 25px;
    color: aliceblue;
    background-color: #993738;
}
.left{
    text-align: left;
    
}
.right{
    width: 25%;
    text-align: right;
}
.chan{
    background-color: rgb(214, 214, 214);
}